<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
    <div class='container'>
        <div class='navbar__logo'>
            <a class='navbar-brand' href='/'>
                <img
                    src='	https://fullstack.edu.vn/assets/images/f8_text_logo.png'
                    alt=''
                />
            </a>
        </div>
        <div class='dropdown'>
            <button
                class='btn btn-primary dropdown-toggle'
                type='button'
                id='dropdownMenuButton2'
                data-bs-toggle='dropdown'
                aria-expanded='false'
            >
                <img
                    src='https://yt3.ggpht.com/Bowu64_L_wQCKPCv-9Y_LWqSUd9sgzQ6nnsZa62LEhznDNk6lbkbEGgZPAL3FPi9EGj-qlPyGA=s88-c-k-c0x00ffffff-no-rj'
                    class='img-avatar'
                    alt=''
                />
                Hùng An
            </button>
            <ul
                class='dropdown-menu dropdown-menu-dark'
                aria-labelledby='dropdownMenuButton2'
            >
                <li><a class='dropdown-item' href='/courses/create'>Tạo
                        khóa học</a></li>
                <li><hr class='dropdown-divider' /></li>
                <li><a class='dropdown-item' href='/me/stored/courses'>Khóa học
                        của tôi</a></li>
                <li><a class='dropdown-item' href='/me/stored/news'>My Blog</a></li>
                <li><hr class='dropdown-divider' /></li>
                <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
            </ul>
        </div>
    </div>
</nav>