@import 'variables';
.card-course-item {
    margin-top: 1rem;
}
.img-avatar {
    width: 28px;
    height: 28px;
    margin-right: 4px;
    border-radius: 30%;
}
.navbar__logo img {
    height: 32px;
    border-style: none;
}
